#primeiradiv {
    background-color: yellow; 
    text-align:center;
}
#segundadiv {
    background-color: rgb(107, 152, 182); 
    text-align:center;
}
#paragrafo1 {
    color: green;
}
#paragrafo2 {
    color: white;
}
